h1{
    color: rgb(138, 141, 141);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
h2{
    color: rgb(138, 141, 141);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;

}
h4{
    color: rgb(81, 82, 82);
    font-family: Arial, Helvetica, sans-serif;
}
tr:nth-child(even) {
    background-color: #e9e9e9;
}

.weathertable td{
    height: 40px;
}
table {
    border: solid rgb(216, 216, 216) 1px;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    size: 100%;
}
#map1{
    min-width:330px;
    min-height:300px;
    border: solid rgb(216, 216, 216) 1px;
    background-color: #e9e9e9;   
}
#map2{
    min-width:330px;
    min-height:300px;
    border: solid rgb(216, 216, 216) 1px;
    background-color: #e9e9e9;
}
#rss1{
    min-width:330px;
    min-height:300px;
    border: solid rgb(216, 216, 216) 1px;
    background-color: #e9e9e9;
}
#rss2{
    min-width:330px;
    min-height:300px;
    border: solid rgb(216, 216, 216) 1px;
    background-color: #e9e9e9;
}
.img-fluid{
    min-height: 350px;
}
#weathertable td{
    min-height: 40px;
}
#images{
    border: solid rgb(216, 216, 216) 1px;
    background-color: #e9e9e9;
    min-width: min-content;
}
a:link {
    text-decoration: none;
}
#homelink{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
#icon{
    margin-left: 10px;
}
#icons{
    color: rgb(138, 141, 141);
}
#choosefile{
    color: rgb(81, 82, 82);
}
#uploadbtn{
    min-width: 95px;
    margin-top: 2px;
}

#choosefile.form-control-file{
    max-width: 220px;
}
form{
    max-width: 230px;
}
input[type=submit]{
    min-width: 95px;
    margin-top: 2px;
}
#title {
    min-height: 82px;
}
